/* timer stylesheet */
.timer_table,.dev_table {
		color:green;
		background:url(../images/bat_bg.png);
		font-size:15px;

		border-collapse:0px;
		font-weight:bold;
	    text-align:center;
		}
.timer_text{
		width:50px;
		color:green;
		font-size:15px;
		font-weight:bold;
	    text-align:center;
		background-color:transparent;	
}
.select_css{
		color:green;
		font-size:13px;
		font-weight:bold;
		color:yellow;
	    text-align:center;
		background-color:transparent;	
}
.hint{
		color:yellow;
		font-size:15px;
		font-weight:bold;
		background-color:transparent;
}
.timer_btn{
		color:yellow;
		font-size:13px;
		border-style:solid;
		font-weight:bold;
		background-color:transparent;
}
.uncheck_color{color:gray;}
.timer_table td {
		font-size:15px;
		padding:15px;
}
.dev_table td{
		font-size:15px;
		padding:10px;
}
#reg_id input{width:110px;color:green;
			font-size:19px;font-weight:bold;
			background-color:transparent;
}
#reg_id button{ color:yellow;font-size:18px;
				border-style:solid; 
				font-weight:bold;
				background-color:transparent;
}
