/* timer stylesheet */
.timer_table{
		color:green;
		background:url(../images/bat_bg.png);
		font-size:23px;
		border-collapse:0px;
		font-weight:bold;
	    text-align:center;
		}
.timer_text{
		width:110px;
		color:green;
		font-size:19px;
		font-weight:bold;
	    text-align:center;
		background-color:transparent;	
}
.select_css{
		color:green;
		font-size:19px;
		font-weight:bold;
		color:green;
	    text-align:center;
		background-color:transparent;	
}
.timer_btn{
		color:yellow;
		font-size:18px;
		border-style:solid;
		font-weight:bold;
		background-color:transparent;
}
.uncheck_color{color:gray;}
.timer_table td {
		font-size:18px;
		padding:15px;
}
